<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_AccessRecord</title>
</head>
<body>
    <center>
        <table border="1px">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
                <th>email</th>
            </tr>
            <tr>
            {% for ao in QSARO %}
                <tr>
                    <td>{{ao.name}}</td>
                    <td>{{ao.date}}</td>
                    <td>{{ao.author}}</td>
                    <td>{{ao.email}}</td>
                </tr>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>